.MuiGridList-root {
  padding: 4px;
  flex-wrap: wrap;
  list-style: none;

  -webkit-overflow-scrolling: touch;

  overflow-y: hidden !important;
  font-weight: 500;
}

.MuiGridListTile-tile {
  border-radius: 20px;
}

.image {
  display: block;
  /* width: 100%;
  height: auto; */
  object-fit: contain;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100%; */
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(37, 119, 241, 0.6);
}

.MuiGridListTile-tile:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.section2 {
  margin-top: 20px;
}
